@charset "utf-8";
/*history*/
.history .history-date ul{
	background:url(../images/line_y.jpg) repeat-y 10% 0;
	/*overflow:hidden;*/
	position:relative;padding-top: 3rem;
}
.history-date {overflow:hidden;position:relative;}
.history-date ul li {
	background:url(../images/state.png) no-repeat 10% 0;background-size: 12px;
	margin-left:-5px;
	padding-bottom:50px;
	zoom:1;
	position: relative;
}
.history-date ul li:first-child{background:url(../images/latest_state.png) no-repeat 10% 0;background-size: 16px;margin-left:-7px;}
.history-date ul li:after{display: block; content: ""; height:1px; width:90%; background-color: #ddd; position: absolute; right:-20px; bottom:36px;transform:scale(.5);transform:scaleY(.5);-webkit-transform:scaleY(.5); margin:0 auto;}
.history-date ul li.last {
	padding-bottom:0;
}
/*.history-date ul li:after {
	content:" ";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}*/

.history-date ul li dl {
	/*float:left;*/
	/*position: absolute;left: 8%;*/
	margin-left:8%;
	padding-left:41px;
	margin-top:-8px;
}
.history-date ul li dl dt {color:#999;font-size: 14px;}
.history-date ul li:first-child dl dt span,.history-date ul li:first-child dl dt {color:#2d2d2d;}
.history-date ul li dl dt span {color:#999;font-size:1.4rem;margin-right: 1rem;}
.history-date ul li.green dl {
	margin-top:-8px;
}
*body .history-date ul li dl dt {
	_font-size:12px!important;
	_font-weight:bold;
}
*body .history-date ul li dl dt span {
	_font-weight:normal!important;
}
*body .history-date ul li.green dl dt a {
	_background:transparent!important;
*background:transparent!important;
*font-size:12px!important;
	_font-weight:normal!important;
}